body {
    background-image: url("steve-jobs-banksy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
 
#login_frame {
    width: 400px;
    height: 260px;
    padding: 13px;
 
    position: absolute;
    left: 5%;
    top: 50%;
    margin-left: 20px;
    margin-top: -200px;
 
    background-color: rgba(240, 255, 255, 0.5);
 
    border-radius: 10px;
    text-align: center;
}
 
form p > * {
    display: inline-block;
    vertical-align: middle;
 
}
 
#image_logo {
    margin-top: 15px;
    opacity: 0.65;

}
 
.label_input {
    font-size: 14px;
    font-family: Robot, sans-serif;
 
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: darkblue;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
 
.text_field {
    width: 250px;
    height: 28px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
 
#btn_login {
    font-size: 14px;
    font-family: Robot, sans-serif;
 
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: darkblue;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
 
    float: left;
}

#btn_sign_up {
    font-size: 14px;
    font-family: Robot, sans-serif;
 
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: center;
 
    color: rgb(15, 53, 155);
    background-color:yellow;
    border-radius: 6px;
    border: 0;
 
    float: center;
}
 
#forget_pwd {
    font-size: 11px;
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: underline;
    position: relative;
    float: right;
    top:  8px;
    text-transform: uppercase;
 
}
 
#forget_pwd: hover {
    color: blue;
    text-decoration: underline;
}

#login_control {
    padding: 0 28px;
}