body {
    background-image: url("register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    position: center;
    background-color: rgba(240, 255, 255, 0.5);
}

div {
    
}