/* Bordered form */
#form_position{
  margin: 100px auto;
  text-align: left;
  
}
body {
  background-image: url(../img/steve-jobs-banksy.jpg);
  /* background-size: cover; */
}
form {
  border: none;
  width: 340px;
  display: inline-block;
}

/* login button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* hover login & sign up */
button:hover {
  opacity: 0.8;
}

/* sign up */
.signup {
  width: auto;
  padding: 10px 18px;
  background-color: #3647aa;
}
/* b color*/
b {
  color:#3647aa;
  font-size: 25px;
}

  
