/* Bordered form */
#form_position{
  margin: 100px auto;
  text-align: left;
  
}
body {
  background-image: url(../img/steve-jobs-banksy.jpg)
  /* background-size: cover; */
}
form {
  border: none;
  width:350px;
  display: inline-block;
}

/* inputs */
input[type=text], input[type=password] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  size: "18";
  border: 1px solid #ccc;
  box-sizing: border-box;
}

b {
  color: white;
}

/* login button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* hover login & sign up */
button:hover {
  opacity: 0.8;
}

/* sign up */
.signup {
  width: auto;
  padding: 10px 18px;
  background-color: #3647aa;
}
/* b color*/
b {
  color:#3647aa;
  font-size: 30px
}

/* Add padding to containers */
.container {
  padding: 10px;
}

  
