/* Bordered form */
#form_position{
  margin: 0px auto;
  text-align: center;
}
body {
  background-image: url(../img/steve-jobs-banksy.jpg)
  /* background-size: cover; */
}
form {
  border: 3px solid #c6fcc4ec;
  position: center;
  width:500px;
  display: inline-block;
}

/* inputs */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  size: "18";
  border: 1px solid #ccc;
  box-sizing: border-box;
}

b {
  color: white;
}

/* login button */
button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 20px 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* hover login & sign up */
button:hover {
  opacity: 0.8;
}

/* sign up */
.signup {
  width: auto;
  padding: 10px 18px;
  background-color: #3647aa;
}

/* Center logo inside */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* logo */
img.avatar {
  width: 100%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 70px;
}

  
